#main #btn {
	margin: 5.5% auto auto;
}
#info .title {
  width: 110px;
  height: 23px;
}
#effect .content{	
	margin: 0 auto;
}
#effect .btns_top{
	height: 166px;
}

#effect .btns_mid{
	height: 185px;
}
.jizhe_t .info {
	margin: 40px 41px auto 39px;
	text-indent: 125px;
	line-height: 24px;
}
/*******点击《交大青年》出现的效果********/
#effect3 .jizhe_r{
	position: absolute;
	top: 5.75%;
	right: 4.34%;
	width:22%;
	height: auto;
	padding: 15px;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
#effect3 .jizhe_t{
	position: absolute;
	width: 34.04%;
	right: 36.23%;
	top: 55%;
	height: auto;
	border-radius: 0;
	padding: 15px;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	font-size: 14px;
	color: #4C4C4C;
	margin-right: 8px;
}
#effect3 .jizhe_l,#effect6 .jizhe_l{
	position: absolute;
	width: 34.41%;
	height: auto;
	padding: 15px;
	top: 9.12%;
	right: 38.65%;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
#effect3 .jizhe_b,#effect6 .jizhe_t{
	position: absolute;
	right: 6.35%;
	top: 45%;
	width: 385px;
	height: 385px;	
	font-size: 14px;
	border-radius: 50%;
	background-color: #696968;
	background-color: rgba(102, 102, 102, 0.86);
	color: #DDDDDD;
	font-size: 14px;
}
#effect3 .jizhe_b .info{
	margin: 50px 35px auto 35px;
	text-indent: 70px;
	line-height: 22px;
}
/*******点击日新影视工作室出现的效果********/
#effect5 .yinshi{
	position: absolute;
	height: auto;
	padding: 15px;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
#effect5 .bianju{
	width: 25.92%;
	top: 10%;
	left: 30%;
}
#effect5 .cehua{
	width: 34.67%;
	top: 36%;
	left: 35%;
}
#effect5 .texiaoshi{
	width: 23.57%;
	top: 50%;
	left: 1%;
}
#effect5 .daoyan{
	width: 30.92%;
	top: 53%;
	left: 30%;
}
#effect5 .yanyuan{
	width: 23.57%;
	top: 76%;
	left: 1%;
}
#effect5 .jianjishi{
	width: 20.16%;
	top: 73%;
	left: 28%;
}
#effect5 .main{
	position: absolute;
	left: 3.6%;
	top: -10%;
	width: 350px;
	height: 350px;	
	font-size: 14px;
	border-radius: 50%;
	background-color: #696968;
	background-color: rgba(102, 102, 102, 0.86);
	color: #DDDDDD;
	font-size: 14px;
}
#effect5 .main .info{
	margin: 75px 35px auto 35px;
	text-indent: 52px;
	line-height: 24px;
}