.line .l3_c{
	background-color: #545454;
}
/************点击设计出现的效果*************/
#effect2 .jizhe_r{
	width: 45.97%;
	height: auto;
	position: absolute;
	top: 0;
	left:41.72%;
}
#effect2 .li_ex,#effect4 .li_ex{
	margin-top: 16px;
}
#effect2 .jizhe_l{
	width: 36.09%;
	height: auto;
	position: absolute;
	top: 71.88%;
	left:0%;
	padding: 15px;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
#effect2 .jizhe_t{
	width: 38%;
	height: auto;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
#effect2 .jizhe_r2{
	width: 44.73%;
	height: auto;
	padding: 15px;
	position: absolute;
	top:51.88%;
	left: 39.7%;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
/*********点击DOD出现的效果**************/
#effect4 .jizhe_l{
	position: absolute;
	width: 30.89%;
	height: auto;
	padding: 15px;
	float: left;
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}