/* HR
 * @author            psychola lee
 * @version           0.0.1
 * @last-time         2015.11
 *华东交通大学团委、学工处 [ 版权所有 交大日新 ] 赣ICP备04003322号
 *日新工作室 维护 联系：214@ecjtu.net
 *CopyRight 2001-2014 [ecjtu.net]. All Rights Reserved
 */
/*********开始的全局*************/
*{
	margin: 0 ;
	padding: 0 ;
    font-family: "微软雅黑", serif;
	outline: none;
}
a{
	text-decoration: none;
}
body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#F1F0EE;
    overflow: hidden;
}
ul li{
	list-style: none;

}
.none{
  display: none;
}
img{
  border: 0;
}
.left{
  float: left;
}
/*******pageswitch************/
#container,.section{
  height: 100%;
  position: relative;
}@-webkit-keyframes sectitle0{
   0%{
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
   }
   100%{
     -webkit-transform: translateX(0);
     transform: translateX(0);
   }
 }
@keyframes sectitle0{
  0%{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes sec0{
  0%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes sec0{
  0%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* 混入文件  */
@keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
@-webkit-keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
@-moz-keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
@-o-keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
/************min-width: 1050px******************/
/********头部的文字和按钮******/
.wrapper{
	width: 100%;
	height: 100%;	
    position: absolute;
}
.bg{
  position: absolute;
  background-position: top center;
  width: 100%;
  height:100%;
  bottom: -20px;
  left: 0;
}
.box{
	width: 100%;
	height: 4.5%;
}
.main{
	width: 72%;
	height: 66%;
	margin: 0 auto;
	position: relative;
}
.main .main_info{
	width: 100%;
}
.main_info .title{
	width: 112px;
	height: 26px;
	float: left;
	margin: 4px auto auto 34px;
	text-indent: 34px;
}
.main .main_info p{
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}
.main .btn{
	display: block;
	margin: 6% auto auto;
	width: 142px;
	height: 142px;
	background: url(../images/start.png) no-repeat center center;
	background-color: #FFCC99;
 	border-radius: 50%;
 	border: 5px solid #666666;
}
.main .btn:hover,.effect .btn3:hover,.effect .btn4:hover,.effect .btn5:hover,.effect .btn0:hover{
	transform:scale(0.95);
	-moz-transform:scale(0.95);
	-o-transform:scale(0.95);
	-webkit-transform:scale(0.95);
	transition:all 0.2s ease-in-out 0s;
	-moz-transition:all 0.2s ease-in-out 0s;
	-o-transition:all 0.2s ease-in-out 0s;
	-webkit-transition:all 0.2s ease-in-out 0s;
}
/******底部的云朵导航*****/
.footer{
	width: 100%;
	height: 29%;
	color: #383838;
  position: absolute;

}
.footer .register{
	width:110px;
	height: 28px;
	position: absolute;
	right: 0;
	bottom: 23px;
	margin-right: 24px;
	display: block;
    transform:scale(1);
	background: url(../images/join.png) no-repeat;
}
.footer .register:hover{
	transform:scale(1.35);
	-moz-transform:scale(1.35);
	-o-transform:scale(1.35);
	-webkit-transform:scale(1.35);
	transition:all 0.1s ease-in 0s;
	-moz-transition:all 0.1s ease-in 0s;
	-o-transition:all 0.1s ease-in 0s;
	-webkit-transition:all 0.1s ease-in 0s;
}
#return:hover,#return2:hover,#return3:hover,#return4:hover{
	transform:scale(1.35);
	-moz-transform:scale(1.35);
	-o-transform:scale(1.35);
	-webkit-transform:scale(1.35);
	transition:all 0.1s ease-in 0s;
	-moz-transition:all 0.1s ease-in 0s;
	-o-transition:all 0.1s ease-in 0s;
	-webkit-transition:all 0.1s ease-in 0s;
}
/**********特效方面相同的部分***********/

#return,#return2,#return3,#return4{
	position: absolute;
    right: 5%;
    top: 13%;
    width: 3em;
    height: 3em;
	background: url(../images/return.png) no-repeat;
	background-size: cover;
	/*display: none;*/
	z-index: 9000;
}
#effect1,#effect2,#effect3,#effect4,#effect5,#effect6,#effect7,#effect8,#effect9,#effect10{
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	/*display: none;*/
	z-index: 3000;
}
.btn0,.btn3,.btn4,.btn5{
   opacity: 0;
 }
#pages{
  position:fixed;
  right: 10px;
  top: 40%;
  list-style: none;
}
#pages li{
  width: 20px;
  height: 20px;
  background: url("../images/dot2.png") no-repeat;
  margin: 0 0 5px 5px;
}
#pages li.active{
  width: 20px;
  height: 20px;
  background: url("../images/dot1.png") no-repeat;
  margin-left: 2px;
}
#pages li:nth-child(2):hover{
    width: 87px;
    margin-left: -87px;
    background: url("../images/rightbar1.png") no-repeat;
}
#pages li:nth-child(3):hover{
  width: 87px;
  margin-left: -87px;
  background: url("../images/rightbar2.png") no-repeat;
}
#pages li:nth-child(4):hover{
  width: 87px;
  margin-left: -87px;
  background: url("../images/rightbar3.png") no-repeat;
}
#pages li:nth-child(5):hover{
  width: 87px;
  margin-left: -87px;
  background: url("../images/rightbar4.png") no-repeat;
}
/*!
Magic - Ver 1.1.0 - http://minimamente.com
Licensed under the MIT license
Copyright (c) 2014 Christian Pucci
*/
.magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.swashIn {
  -webkit-animation-name: swashIn;
  animation-name: swashIn;
}
.spaceInRight {
  -webkit-animation-name: spaceInRight;
  animation-name: spaceInRight;
}
.spaceInLeft {
  -webkit-animation-name: spaceInLeft;
  animation-name: spaceInLeft;
}
.slideDownRetourn {
  -webkit-animation-name: slideDownRetourn;
  animation-name: slideDownRetourn;
}
.slideLeftRetourn {
  -webkit-animation-name: slideLeftRetourn;
  animation-name: slideLeftRetourn;
}
.slideRightRetourn {
  -webkit-animation-name: slideRightRetourn;
  animation-name: slideRightRetourn;
}
.slideUpRetourn {
  -webkit-animation-name: slideUpRetourn;
  animation-name: slideUpRetourn;
}
.register_effect{
  -webkit-animation-name : joinScale;
  animation-name : joinScale;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count:infinite;/*IE10+才支持*/
}
@keyframes joinScale {
  0%{transform :scale(1);}
  30%{transform :scale(1.3);}
  60%{transform :scale(0.9);}
  100%{transform :scale(1);}
}
@keyframes swashIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes swashIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes spaceInRight {
  0% {
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: scale(.2) translate(480%, 0%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
  }
}
 @keyframes spaceInRight {
  0% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(.2) translate(480%, 0%);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 50%;
    transform: scale(1) translate(0%, 0%);
  }
}
@-webkit-keyframes spaceInLeft {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: scale(.2) translate(-480%, 0%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
  }
}
@keyframes spaceInLeft {
  0% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(.2) translate(-480%, 0%);
  }

  100% {
    opacity: 1;
    transform-origin: 0% 50%;
    transform: scale(1) translate(0%, 0%);
  }
}
@-webkit-keyframes slideDownRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideDownRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateY(100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideLeftRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@keyframes slideLeftRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateX(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideRightRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@keyframes slideRightRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateX(100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideUpRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideUpRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}

/*****大于1366*768分辨率时****/
@media (min-width: 1367px){
  /******PAGE2&& the same part*****/
  .main .main_info p {
    font-size: 1.2em;
    line-height: 2.1em;
  }
  section:nth-child(n) .main_info .title {
    width: 152px;
    height: 35px;
    float: left;
    margin: 5px auto auto 40px;
    text-indent: 34px;
  }
  .main .btn{
    margin: 13% auto auto;
  }
  .main .btn {
    width: 170px;
    height: 170px;
    background-size: 70%;
    border: 6px solid #666666;
  }
  .footer .register {
    width: 140px;
    height: 38px;
    position: absolute;
    right: 0;
    bottom: 43px;
    margin-right: 44px;
    background-size: 100%;
  }
  .effect {
    margin: 12% auto auto auto;
}
  .effect .btn1 {
    width: 158px;
    height: 158px;
    background-size: 70%;
    border: 6px solid #666666;
    box-shadow: 0 0 0 10px #D5D5D3,0 0 0 20px rgba(227, 226, 224, 0.84);
    z-index: 2000;
    position: relative;
  }
  .effect .btn0, .effect .btn3 {
    width: 125px;
    height: 125px;
    font-size: 17px;
    margin-top: 33px;
    line-height: 125px;
    border: solid 6px #D5D5D3;
  }
  #return, #return2, #return3, #return4 {
    width: 4em;
    height: 4em;
  }
  .effect {
    width: 800px;
    height: 210px;
  }
  #effect4 .jizhe_l {
    padding: 20px 20px 30px;
    line-height: 30px;
    font-size: 1em;
    top: 5%;
    left: 30px;
  }
  #effect4 .jizhe_t {
    width: 260px;
    height: 260px;
    position: absolute;
    left: 25.87%;
    top: 51%;
    padding: 20px;
  }
  #effect4 .jizhe_t .info, #effect8 .jizhe_t .info {
    margin: 13px auto auto 33px;
    text-indent: 80px;
    line-height: 30px;
    font-size: 1.1em;
  }
  #effect2 .jizhe_t, #effect5 .jizhe_t {
    width: 440px;
    height: 440px;
    font-size: 1em;
  }
  .jizhe_t .info {
    margin: 90px 40px auto 47px;
    line-height: 27px;
    font-size: 1em;
    text-indent: 40px;
  }
  #effect2 .jizhe_r, #effect5 .jizhe_r {
    width: 25.99%;
    right: 2.5%;
    top: 50.27%;
    padding: 20px;
    font-size: 1em;
  }
  /******PAGE3*******/
  section:nth-child(3) .main .btn {
    margin: 13% auto auto;
  }
  section:nth-child(3) .effect {
    margin: 12% auto auto auto;
  }
  #effect1 .jizhe_t {
    width: 26.89%;
    padding: 20px;
    top: 13%;
    font-size: 1em;
  }
  #effect3 .jizhe_l, #effect6 .jizhe_l, #effect10 .jizhe_l {
    position: absolute;
    width: 26.89%;
    top: 13%;
    padding: 20px;
    font-size: 1em;
  }
  /******PAGE4******/
  section:nth-child(4) .main .btn {
    margin: 19% auto auto;
  }
  section:nth-child(4) .effect {
    width: 800px;
    margin-left: -400px;
    top: 19%;
  }
  section:nth-child(4) .effect .btn3 {
    margin-left: -68px;
    margin-top: -255px;
  }
  section:nth-child(4) .effect .btn4 {
    width: 125px;
    height: 125px;
    font-size: 17px;
    margin-top: 30px;
    line-height: 125px;
    border: solid 6px #D5D5D3;
  }
  section:nth-child(4) .effect .btn5 {
    position: relative;
    width: 125px;
    height: 125px;
    margin-left: 211px;
    font-size: 17px;
    margin-top: 30px;
    line-height: 125px;
    border: solid 6px #D5D5D3;
  }
  #effect5 .jizhe_t {
    width: 410px;
    height: 410px;
    font-size: 1em;
    left: 5.61%;
    top: 50%;
  }
  #effect5 .jizhe_t .info {
    margin: 50px 30px auto 65px;
    font-size: 1em;
    text-indent: 118px;
    line-height: 30px;
  }
  #effect5 .jizhe_r {
    width: 23.99%;
    left: 35.85%;
    top: 42.27%;
  }
  #effect6 .jizhe_t, #effect10 .jizhe_t {
    width: 440px;
    height: 440px;
    font-size: 1em;
  }
  #effect6 .jizhe_t .info, #effect10 .jizhe_t .info {
    margin: 55px 38px auto 58px;
    text-indent: 57px;
    line-height: 30px;
  }
  #effect6 .jizhe_t {
    bottom: -8.64%;
    right: 28.92%;
}
  #effect6 .jizhe_r, #effect10 .jizhe_r {
    width: 24.16%;
    padding: 20px;
    font-size: 1em;
  }
  #effect6 .jizhe_r {
    right: 4.59%;
    top: 34.1%;
  }
  section:nth-child(4) #return3 {
    right: -54%;
    top: -129%;
  }
  /******Page5******/
  section:nth-child(5) .main .btn {
    margin: 13% auto auto;
  }
  section:nth-child(5) .effect {
    width: 840px;
    height: 600px;
    position: absolute;
    margin: 7% auto auto auto;
    margin-left: -420px;
    top: 0;
  }
  section:nth-child(5) .effect .btns_top {
    height: 236px;
  }
  section:nth-child(5) .effect .btns_top .btn0 {
    width: 125px;
    height: 125px;
    line-height: 125px;
    margin-left: 218px;
    margin-top: 15px;
  }
  section:nth-child(5) .effect .btns_top .btn3 {
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 55px 157px auto auto;
  }
  section:nth-child(5) .effect .btns_mid .btn0 {
    height: 125px;
    line-height: 125px;
  }
  section:nth-child(5) .effect .btns_mid .btn3 {
    height: 125px;
    line-height: 125px;
    margin-right: 70px;
    top: -226px;
  }
  section:nth-child(5) .effect .btns_mid .btn3 span {
    display: block;
    width: 125px;
    height: 20px;
    margin: 0 auto;
    line-height: 105px;
  }
  section:nth-child(5) .effect .btns_btm .btn0 {
    width: 110px;
    height: 110px;
    line-height: 110px;
    margin: 145px auto auto 425px;
  }
  #effect10 .jizhe_t {
    width: 470px;
    height: 470px;
    margin: 75px 38px auto 58px;
  }
  #effect10 .jizhe_t .info {
    margin: 65px 38px auto 58px;
  }
  #effect10 .jizhe_l {
    top: 0;
  }
  #effect8 .jizhe_t {
    width: 250px;
    height: 250px;
    top: -7%;
  }
  #effect8 .jizhe_t .info {
    margin: 70px auto auto 23px;
    text-indent: 10px;
  }
  #effect8 .jizhe_l {
    font-size: 1em;
    padding: 20px;  
  }
  #effect9 .maininfo {
    left: 4.6%;
    top: -5%;
    width: 390px;
    height: 390px;
    line-height: 30px;
    font-size: 14px;
    font-size: 1em;
  }
  #effect9 .yinshi{
    font-size: 1em;
    padding: 20px;
  }
  #effect7 .jizhe_b {
    width: 445px;
    height: 445px;
    font-size: 1em;
    right: 6.35%;
    top: auto;
    bottom: -5%;
  }
  #effect7 .jizhe_b .info {
    margin: 56px 35px auto 45px;
    text-indent: 70px;
    line-height: 24px;
  }
  #effect7 .jizhe_r,#effect7 .jizhe_t,#effect7 .jizhe_l,#effect7 .jizhe_b{
    font-size: 1em;
    padding: 20px;
  }
  #effect7 .jizhe_r {
    top: 23.12%;
    right: 6%;
    width: 19%;
  }
  #effect7 .jizhe_l{
    width: 30.41%;
    top: 22.12%;
  }
  section:nth-child(5) #return4 {
    right: -48%;
  }
}