/*********开始的全局*************/
*{
	margin: 0 ;
	padding: 0 ;
    font-family: "微软雅黑", serif;
	outline: none;
}
a{
	text-decoration: none;
}
body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#F1F0EE;
    overflow: hidden;
}
ul li{
	list-style: none;

}
.none{
  display: none;
}
img{
  border: 0;
}
.left{
  float: left;
}
/*******pageswitch************/
#container,.section{
  height: 100%;
  position: relative;
}@-webkit-keyframes sectitle0{
   0%{
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
   }
   100%{
     -webkit-transform: translateX(0);
     transform: translateX(0);
   }
 }
@keyframes sectitle0{
  0%{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes sec0{
  0%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes sec0{
  0%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* 混入文件  */
@keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
@-webkit-keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
@-moz-keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
@-o-keyframes circleMove {
  0% {
    margin-bottom: -0.6em; }
  100% {
    margin-bottom: 0; } }
/************min-width: 1050px******************/
/********头部的文字和按钮******/
.wrapper{
	width: 100%;
	height: 100%;	
    position: absolute;
}
#bg{
  position: absolute;
  background-position: top center;
  width: 100%;
  height:100%;
  bottom: -20px;
  left: 0;
}
.box{
	width: 100%;
	height: 4.5%;
}
#main{
	width: 72%;
	height: 66%;
	margin: 0 auto;
	position: relative;
}
#main #info{
	width: 100%;
}
#info .title{
	width: 112px;
	height: 26px;
	float: left;
	margin: 4px auto auto 34px;
	text-indent: 34px;
}
#main #info p{
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}
#main #btn{
	display: block;
	margin: 6% auto auto;
	width: 142px;
	height: 142px;
	background: url(../images/start.png) no-repeat center center;
	background-color: #FFCC99;
 	border-radius: 50%;
 	border: 5px solid #666666;
}
#main #btn:hover,#effect .btn3:hover,#effect .btn4:hover,#effect .btn5:hover,#effect .btn0:hover{
	transform:scale(0.95);
	-moz-transform:scale(0.95);
	-o-transform:scale(0.95);
	-webkit-transform:scale(0.95);
	transition:all 0.2s ease-in-out 0s;
	-moz-transition:all 0.2s ease-in-out 0s;
	-o-transition:all 0.2s ease-in-out 0s;
	-webkit-transition:all 0.2s ease-in-out 0s;
}
/******底部的云朵导航*****/
#footer{
	width: 100%;
	height: 29%;
	color: #383838;
  position: absolute;

}
#footer #register{
	width:110px;
	height: 28px;
	position: absolute;
	right: 0;
	bottom: 23px;
	margin-right: 24px;
	display: block;
    transform:scale(1);
	background: url(../images/join.png) no-repeat;
}
#footer #register:hover{
	transform:scale(1.35);
	-moz-transform:scale(1.35);
	-o-transform:scale(1.35);
	-webkit-transform:scale(1.35);
	transition:all 0.1s ease-in 0s;
	-moz-transition:all 0.1s ease-in 0s;
	-o-transition:all 0.1s ease-in 0s;
	-webkit-transition:all 0.1s ease-in 0s;
}
#return:hover,#return2:hover,#return3:hover,#return4:hover{
	transform:scale(1.35);
	-moz-transform:scale(1.35);
	-o-transform:scale(1.35);
	-webkit-transform:scale(1.35);
	transition:all 0.1s ease-in 0s;
	-moz-transition:all 0.1s ease-in 0s;
	-o-transition:all 0.1s ease-in 0s;
	-webkit-transition:all 0.1s ease-in 0s;
}
/**********特效方面相同的部分***********/

#return,#return2,#return3,#return4{
	position: absolute;
    right: 5%;
    top: 13%;
    width: 3em;
    height: 3em;
	background: url(../images/return.png) no-repeat;
	background-size: cover;
	/*display: none;*/
	z-index: 9000;
}
#effect1,#effect2,#effect3,#effect4,#effect5,#effect6,#effect7,#effect8,#effect9,#effect10{
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	/*display: none;*/
	z-index: 3000;
}
.btn0,.btn3,.btn4,.btn5{
   opacity: 0;
 }
#pages{
  position:fixed;
  right: 10px;
  top: 40%;
  list-style: none;
}
#pages li{
  width: 20px;
  height: 20px;
  background: url("../images/dot2.png") no-repeat;
  margin: 0 0 5px 5px;
}
#pages li.active{
  width: 20px;
  height: 20px;
  background: url("../images/dot1.png") no-repeat;
  margin-left: 2px;
}
#pages li:nth-child(2):hover{
    width: 87px;
    margin-left: -87px;
    background: url("../images/rightbar1.png") no-repeat;
}
#pages li:nth-child(3):hover{
  width: 87px;
  margin-left: -87px;
  background: url("../images/rightbar2.png") no-repeat;
}
#pages li:nth-child(4):hover{
  width: 87px;
  margin-left: -87px;
  background: url("../images/rightbar3.png") no-repeat;
}
#pages li:nth-child(5):hover{
  width: 87px;
  margin-left: -87px;
  background: url("../images/rightbar4.png") no-repeat;
}
/*!
Magic - Ver 1.1.0 - http://minimamente.com
Licensed under the MIT license
Copyright (c) 2014 Christian Pucci
*/
.magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.swashIn {
  -webkit-animation-name: swashIn;
  animation-name: swashIn;
}
.spaceInRight {
  -webkit-animation-name: spaceInRight;
  animation-name: spaceInRight;
}
.spaceInLeft {
  -webkit-animation-name: spaceInLeft;
  animation-name: spaceInLeft;
}
.slideDownRetourn {
  -webkit-animation-name: slideDownRetourn;
  animation-name: slideDownRetourn;
}
.slideLeftRetourn {
  -webkit-animation-name: slideLeftRetourn;
  animation-name: slideLeftRetourn;
}
.slideRightRetourn {
  -webkit-animation-name: slideRightRetourn;
  animation-name: slideRightRetourn;
}
.slideUpRetourn {
  -webkit-animation-name: slideUpRetourn;
  animation-name: slideUpRetourn;
}
.register{
  -weblkit-animation-name : joinScale;
  animation-name : joinScale;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count:infinite;/*IE10+才支持*/
}
@keyframes joinScale {
  0%{transform :scale(1);}
  30%{transform :scale(1.3);}
  60%{transform :scale(0.9);}
  100%{transform :scale(1);}
}
@keyframes swashIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes swashIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes spaceInRight {
  0% {
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: scale(.2) translate(480%, 0%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
  }
}
 @keyframes spaceInRight {
  0% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(.2) translate(480%, 0%);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 50%;
    transform: scale(1) translate(0%, 0%);
  }
}
@-webkit-keyframes spaceInLeft {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: scale(.2) translate(-480%, 0%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
  }
}
@keyframes spaceInLeft {
  0% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(.2) translate(-480%, 0%);
  }

  100% {
    opacity: 1;
    transform-origin: 0% 50%;
    transform: scale(1) translate(0%, 0%);
  }
}
@-webkit-keyframes slideDownRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideDownRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateY(100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideLeftRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@keyframes slideLeftRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateX(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideRightRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@keyframes slideRightRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateX(100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideUpRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideUpRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}