.line .l3_c{
	background-color: #545454;
}
#main #btn{
	margin: 11.6% auto auto;
}
#info .title {
	width: 110px;
	height: 23px;
 }
/************点击start出现的效果*************/
#effect{
	width: 530px;
	position: absolute;
	left: 50%;
	margin-left: -265px;
	top: 40%;
}
#effect .btn1{
	margin-top: -50px;
}
#effect .btn3{
	float: left;
	position: absolute;
	left: 50%;
	margin-left: -58px;
	margin-top: -165px;
	z-index: 2000;
	bottom: auto;
}
#effect .btn4{
	position: relative;
	width: 108px;
	height: 108px;
	background-color: #666666;
	font-size: 14px;
	color: #DFDFDF;
	float: left;
	margin-top: -7px;
	border-radius: 50%;
	line-height: 108px;
	text-align: center;
	outline: none;
	border: 0;
	z-index: 2000;
	border:solid 4px #D5D5D3;
}
#effect .btn5{
	position: relative;
	width: 108px;
	height: 108px;
	margin-left: 211px;
	background-color: #666666;
	font-size: 14px;
	color: #DFDFDF;
	float: right;
	margin-top: -7px;
	border-radius: 50%;
	line-height: 108px;
	text-align: center;
	outline: none;
	border: 0;
	z-index: 2000;
	border:solid 4px #D5D5D3;
}
/************点击办公室出现的效果*************/
#effect2 .jizhe_t{
	width: 307px;
	height: 307px;
	position: absolute;
	z-index: 3000;
}
#effect2 .jizhe_t .info{
	margin:0 auto;
	border-radius: 50%; 
	margin: 40px 30px auto 30px;
	font-size: 14px;
	text-indent: 110px;
	line-height: 21px;
}
#effect2 .li_ex,#effect4 .li_ex{
	margin-top: 16px;
}
#effect2 .jizhe_r{
	width: 25.99%;
	position: absolute;
}
/************点击外联部出现的效果*************/
#effect3 .jizhe_r{
	width: 24.16%;
	padding: 15px;
	position: absolute;	
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #4C4C4C;
}
#effect3 .jizhe_t{
	width: 360px;
	height: 360px;	
	font-size: 14px;
	border-radius: 50%;
	background-color: #696968;
	background-color: rgba(102, 102, 102, 0.86);
	color: #DDDDDD;
}
#effect3 .jizhe_t .info{
	margin: 55px 38px auto 38px;
	text-indent: 55px;
	line-height: 21px;
}
