@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
img{border:0; display:block;}



.fixed-top /* 头部固定 */ {
position:fixed;
bottom:auto;
}

#body{
     width:auto; 
     height:720px;
     background-image:url(pic/background.jpg);      
}     
#logo{
	width:113px;
	height:79px;
	margin:124px 0 0 617px;
	background-image:url(pic/first/logo.png);
	position:absolute;
	display:none;
}
#font{
	width:480px;
	height:87px;
	background-image:url(pic/first/font.png);
	margin:	242px 0 0 437px;
	display:none;
	position:absolute;
	text-indent:-9999px;   
}	

#dot{
	width:10px;
	height:55px;
	background-image:url(pic/first/dot.png);
	margin:498px 0 0 669px;
	position:absolute;
}
#dropdown{
	width:98px;
	height:51px;
	background-image:url(pic/first/dropdown.png);
	margin:551px 0 0 624px;
	position:absolute;
}
