/* color
 ------------------------------------- */

$rixin-red: #f26c46;      			// header
$button-gray: #534d4d;    			// button
$tag-light: #c3b099;      			// tag
$tag-dark: #a0835f;

$container-border-gray: #313131;	// container
$container-color: #534d4d;
$container-p-color: #918d8d;
$footer-bgcolor: #282828; 			// footer

/* font
 ------------------------------------ */

$container-h2-font: normal 36px/48px Microsoft Yahei, Arial, sans-serif;
$container-font: normal 16px/28px Microsoft Yahei, Arial, sans-serif;
$container-span-font: normal 16px/58px Microsoft Yahei, Arial, sans-serif;
$container-p-font: bold 24px/45px Youyuan, Microsoft Yahei, Arial, sans-serif;

$footer-font: normal 14px/24px Helvetica, Arial, sans-serif;

/* layout
 ------------------------------------ */

$border-height: 8px;

$container-padding: 50px;

/* path
 ------------------------------------ */

$imagepath: "../images/sprit.png";
$header-border-imagepath: "../images/header-border.png";
