/*
 * EcjtuNet Mobile HR
 *
 * @author    Lancelot at EcjtuNet
 * @version   0.2
 * @last-time 2014.7.15
 *
 */



/* file loading
 ------------------------------------ */
@import "reset";  // CSS Reset File
@import "variable";  // Scss Variables




//----- Container -----

#container {
	width: 100%;
	padding-top: $container-padding + $border-height;
	/* ----- HR-index ----- */
	#hr {
		display: none;
		p {
			width: 261px;
			margin: 16px auto;
			font: $container-font;
			color: $container-color;
		}
		ul li {
			text-align: center;
			a {
				display: inline-block;
				width: 261px;
				height: 48px;
				margin: 12px auto;
			}
			a:active {
				margin-right: -16px;
			}
			#tech {
				background: url($imagepath) 0 -127px no-repeat;
			}
			/* #tech:active {
				background: url() center center no-repeat;
			} */
			#news {
				background: url($imagepath) 0 -175px no-repeat;
			}
			/* #news:active {
				background: url() center center no-repeat;
			} */
			#prd {
				background: url($imagepath) 0 -223px no-repeat;
			}
			/* #prd:active {
				background: url() center center no-repeat;
			} */
			#manage {
				background: url($imagepath) 0 -271px no-repeat;
			}
			/* #manage:active {
				background: url() center center no-repeat;
			} */
		}
		h2 {
			text-align: center;
			margin: 0 auto;
			padding: 24px 0 36px;
			a#register {
				display: inline-block;
				width: 110px;
				height: 36px;
				background: url($imagepath) 0 0 no-repeat;
				text-align: center;
				text-decoration: none;
				font: normal 18px/36px Microsoft Yahei, Arial, sans-serif;
				color: #fff;
			}
			a#register:active {
				background: url($imagepath) -110px 0px no-repeat;
				color: $container-color;
			}
		}
	}
	/* ----- Edit ----- */
	#edit {
		display: none;
		text-align: center;

		h2 {
			text-align: center;
			font: $container-h2-font;
			color: $container-color;
		}
		#form {
			display: inline-block;

			p {
				position: relative;
				text-align: left;
				font: $container-font;
				span.select {
					display: block;
				}
				span#personal {
					float: left;
				}
			}
			input, select, textarea {
				font: $container-font;
			}
			input, select {
				border: none;
				background: url($imagepath) 0 -319px no-repeat;
				clip: rect(0px 160px 0px 0);
			}
			input[type=text] {
				position: relative;
				left: 28px;
				width: 170px;
				height: 34px;
				margin: 12px;
				padding: 0 12px;
			}
			input[type=radio] {
				margin-left: 42px;
			}
			select {
				-webkit-appearance: button;
			    -moz-appearance: button;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -webkit-padding-end: 20px;
			    -moz-padding-end: 20px;
			    -webkit-padding-start: 2px;
			    -moz-padding-start: 2px;
			    background: url($imagepath) 0 -319px no-repeat;
			    border: none;
			    color: $container-color;
			    font-size: inherit;
			    margin: 0;
			    overflow: hidden;
			    padding-top: 2px;
			    padding-bottom: 2px;
			    text-overflow: ellipsis;
			    white-space: nowrap;
				position: relative;
				left: 28px;
				width: 194px;
				height: 34px;
				margin: 12px;
				padding: 0 12px;
			}
			#center, #direction {
				position: relative;
				left: 75px;
			}
			textarea {
				width: 194px;
				height: 97px;
				margin: 12px;
				border: 2px solid $container-border-gray;
			}
			h3 {
				text-align: center;

				input[type=submit], a#back2index {
					width: 110px;
					height: 36px;
					margin: 12px;
					font: $container-font;
					background: url($imagepath) 0 0 no-repeat;
					line-height: 36px;
					text-decoration: none;
					color: #fff;
					text-align: center;
					cursor: pointer;
				}
				input[type=submit]:active, a:active, a#back2index:active {
					background: url($imagepath) -110px 0 no-repeat;
					color: $container-color;
				}
				input[type=submit] {
					border: none;
				}
				a#back2index {
					display: inline-block;
				}
			}
		}
	}
	/* ----- Introduction ----- */
	#intro {
		display: none;
		#banner {
			position: relative;
			width: 360px;
			height: 342px;
			margin: 36px auto;
			line-height: 342px;
			background: url(../images/banner.png) no-repeat;
			.pic {
				display: none;
				width: 320px;
				height: 200px;
				margin: 0 auto;
				padding: 0 48px;
				background: url(../images/prd-intro-1.png) no-repeat;
			}
			.prd, .tech, .news, .manage, .main, .job {
				display: none;
				padding: 0 6px;
				color: $container-color;
				font: $container-font;
			}
			#next {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 54px;
				height: 49px;
				border: none;
				border-radius: 10px;
				background: transparent;
				cursor: pointer;
			}
		}
	}
}
//----- Header -----

header {
	position: absolute;
	top: 0;
	width: 100%;
	padding-bottom: $border-height;

	h1 {
		background: $rixin-red;
		height: $container-padding;
		a#logo {
			display: inline-block;
			width: 163px + 24px;
			height: 27px;
			margin: ($container-padding - 27px)/2;
			background: url($imagepath) 0 -100px no-repeat;
		}
	}
	#border {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $border-height;
		background: url($header-border-imagepath) -220px 0 repeat-x;
	}
}

//----- Footer -----

footer {
	width: 100%;
	padding: 24px 0;
	background: $footer-bgcolor;

	p {
		margin: 0 0 14px 0;
		text-align: center;
		letter-spacing: .05em;
		font: $footer-font;
		color: #fff;
	}
}

//----- Navigation -----

nav {
	position: fixed;
	top: 0;
	right: 48px;

	#tag {
		width: 36px;
		height: 50px;
		margin: 0 auto;
		background: url($imagepath) -84px -36px no-repeat;
	}
	a#about {
		display: inline-block;
		width: 64px;
		height: 64px;
		margin-top: 36px;
		background: url($imagepath) -120px -36px no-repeat;
	}
	a#about:before {
		content: "";
		position: absolute;
		left: 31px;
		top: 42px;
		display: inline-block;
		width: 2px;
		height: 44px;
		background: $tag-dark;
	}
	a#about:active {
		margin-top: 48px;
	}
	a#about:active:before {
		height: 56px;
	}
}