@keyframes arrowDown {
	0%   { margin-bottom: -.6em }
	100% { margin-bottom: 0 }
}
@-webkit-keyframes arrowDown {
	0%   { margin-bottom: -.6em }
	100% { margin-bottom: 0 }
}
@-moz-keyframes arrowDown {
	0%   { margin-bottom: -.6em }
	100% { margin-bottom: 0 }
}
@-o-keyframes arrowDown {
	0%   { margin-bottom: -.6em }
	100% { margin-bottom: 0 }
}