@charset "utf-8";

/* 路径
 ----------------------------------------------------------*/


/* 配色
 ----------------------------------------------------------*/

/* 布局
 ----------------------------------------------------------*/



/* 字体
 ----------------------------------------------------------*/


/* 其他
 ----------------------------------------------------------*/
/* ::-moz-selection {
	color: #fff;
    background: lighten($theme-color, 20%);
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
::-webkit-selection {
	color: #fff;
    background: lighten($theme-color, 20%);
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
::selection {
	color: #fff;
    background: lighten($theme-color, 20%);
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
} */