@charset "utf-8";

/* Font
 --------------------------------------------------*/


@font-face {
	font-family: 'Blade';
	src: url('../fonts/blade_2/blade_2-webfont.eot');
	src: url('../fonts/blade_2/blade_2-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/blade_2/blade_2-webfont.woff') format('woff'),
	url('../fonts/blade_2/blade_2-webfont.ttf') format('truetype'),
	url('../fonts/blade_2/blade_2-webfont.svg#Blade') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'flexslider-icon';
	src: url('../fonts/flexslider-icon.eot');
	src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/flexslider-icon.woff') format('woff'),
	url('../fonts/flexslider-icon.ttf') format('truetype'),
	url('../fonts/flexslider-icon.svg#Blade') format('svg');
	font-weight: normal;
	font-style: normal;
}